.Cabeza{
    text-align: center;
    background-color: rgb(255, 146, 95);
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border: 10px solid rgb(123, 194, 252);
}

.Titulos{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Body{
    background-color: rgba(63, 67, 71, 0.384);
}

.Div{
    display: flex;
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    padding: 0px;
}

.Margen{
    margin: 20px;
}

.Lista{
    margin: 20px;
}

#btnGuardar{
    margin-top: 20px;
}
