.Cabeza{
    text-align: center;
    background-color: rgb(255, 146, 95);
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

.Titulos{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subTitulos{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Div{
    display: flex;
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    padding: 0px;
    
}

.Margen{
    padding: 20px;
    margin: 30px;
    background-color: rgba(125, 129, 133, 0.384);
}

.Lista{
    margin: 20px;
}

#btnGuardar{
    margin-top: 20px;
}

.Botones{
    background-color: aqua;
}

#logo{
    width: 500;
    height: 500;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#Listado{
    margin: 0 auto;
}